@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;

  /* NEW PALETTE */
  --color-primary: #6D5DF6;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #0F172A;
    color: #E5E7EB;
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-gray-200
  bg-slate-800 rounded px-4 py-3 mb-4 mt-3
  border border-slate-700 outline-none;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white
  bg-primary shadow-lg shadow-purple-500/20
  p-2.5 rounded-md my-1
  hover:bg-violet-500 cursor-pointer;
}

.card {
  @apply bg-slate-800 p-6 rounded-2xl
  shadow-lg shadow-black/20
  border border-slate-700;
}

.card-btn{
  @apply flex items-center gap-3 text-[12px] font-medium
  text-slate-300 hover:text-primary
  bg-slate-700 hover:bg-slate-600
  px-4 py-1.5 rounded-lg
  border border-slate-600 cursor-pointer;
}

.card-btn-fill {
  @apply flex items-center gap-3 text-[12px] font-medium
  text-white bg-primary
  hover:text-white hover:bg-violet-500
  px-4 py-1.5 rounded-lg
  border border-primary cursor-pointer;
}

.form-card {
  @apply bg-slate-800 p-6 rounded-lg
  shadow-lg shadow-black/20
  border border-slate-700;
}

.form-input {
  @apply w-full text-sm text-gray-200 outline-none
  bg-slate-900 border border-slate-700
  px-2.5 py-3 rounded-md mt-2
  placeholder:text-slate-400;
}

.add-btn {
  @apply w-full flex items-center justify-center gap-1.5
  text-xs md:text-sm font-medium text-blue-400
  whitespace-nowrap bg-blue-500/10
  border border-blue-400/20
  rounded-lg p-4 py-2 cursor-pointer
  hover:bg-blue-500/20;
}

.download-btn{
  @apply items-center gap-3 text-xs md:text-[13px]
  text-emerald-300 bg-emerald-500/10
  px-2 md:px-3 py-2 rounded
  border border-emerald-400/20
  hover:border-emerald-400 cursor-pointer;
}

.user-card {
  @apply bg-slate-800 p-4 rounded-xl
  shadow-lg shadow-black/20
  border border-slate-700;
}
